mat-toolbar-row,
mat-toolbar-row ul {
  display: flex;
}

mat-toolbar-row {
  justify-content: space-between;
}
mat-toolbar-row ul {
  margin: 0;
  padding: 0;
}

mat-toolbar-row ul li {
  list-style: none;
  margin: 0 15px;
}
