<div class="container">
  <app-product-widget
    (productClick)="addToCart($event)"
    [product]="item"
    *ngFor="let item of products$ | async"
  ></app-product-widget>
</div>

<app-product-widget [product]="product"></app-product-widget>

<div>
  <h1>Prodcut name : {{ product.name }}</h1>
  <h1>Prodcut id : {{ product._id }}</h1>
  <p [product]="product" addToCart>Add to Cart</p>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
