<h1>
  {{ currentProductId }}
</h1>
<table>
  <tbody [formGroup]="productCreationForm">
    <tr>
      <td>Name</td>
      <td>
        <input formControlName="name" type="text" />
      </td>
    </tr>
    <tr>
      <td>
        Price
      </td>
      <td>
        <input formControlName="price" type="text" />
      </td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td>
        <input formControlName="quantity" type="number" />
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button *ngIf="!editMode" (click)="create()">Submit</button>
        <button *ngIf="editMode" (click)="update()">Update</button>
      </td>
    </tr>
  </tbody>
</table>

<ul>
  <li *ngFor="let product of products$ | async">
    {{ product | json }}
    <button (click)="edit(product)">Edit</button>
    <button (click)="delete(product._id)">X</button>
  </li>
</ul>

<p>
  https://www.google.com/search?sxsrf=ALeKk017jwHubCrpq-05dZkSx2J3J0fx5A%3A1586919162396&source=hp&ei=-naWXtibFrWGjLsPme-vmAE&q=webassembly+with+go&oq=&gs_lcp=CgZwc3ktYWIQARgDMgcIIxDqAhAnMgcIIxDqAhAnMgcIIxDqAhAnMgcIIxDqAhAnMgcIIxDqAhAnMgcIIxDqAhAnMgcIIxDqAhAnMgcIIxDqAhAnMgcIIxDqAhAnMgcIIxDqAhAnUABYAGCLSmgDcAB4AIABAIgBAJIBAJgBAKoBB2d3cy13aXqwAQo&sclient=psy-ab
</p>
