<h1>
  {{ currentProductId }}
</h1>
<table>
  <tbody [formGroup]="productCreationForm">
    <tr>
      <td>Name</td>
      <td>
        <input formControlName="name" type="text" />
      </td>
    </tr>
    <tr>
      <td>
        Price
      </td>
      <td>
        <input formControlName="price" type="text" />
      </td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td>
        <input formControlName="quantity" type="number" />
      </td>
    </tr>
    <tr>
      <td>Choose Parent Category</td>
      <td>
        <select formControlName="category">
          <option [value]="item._id" *ngFor="let item of categories$ | async">
            {{ item.name }}
          </option>
        </select>
      </td>
    </tr>
    <tr *ngIf="productCreationForm.controls.category.value">
      <td>Choose Sub Category</td>
      <td>
        <select formControlName="subCategory">
          <option
            [value]="item._id"
            *ngFor="let item of (subCategories$ | async)?.result"
          >
            {{ item.name }}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button *ngIf="!editMode" (click)="create()">Submit</button>
        <button *ngIf="editMode" (click)="update()">Update</button>
      </td>
    </tr>
  </tbody>
</table>

<table>
  <tbody [formGroup]="filterProductsForm">
    <tr>
      <td>
        Filter by
      </td>
      <td>
        <select formControlName="mainCategory" name="" id="">
          <option [value]="item._id" *ngFor="let item of categories$ | async">
            {{ item.name }}
          </option>
        </select>
      </td>
      <td>
        and
      </td>
      <select
        *ngIf="filterProductsForm.controls.mainCategory.value"
        formControlName="subCategory"
        name=""
        id=""
      >
        <option
          [value]="item._id"
          *ngFor="let item of (subCategories$ | async)?.result"
        >
          {{ item.name }}
        </option>
      </select>
    </tr>
  </tbody>
</table>
<ul>
  <li
    *ngFor="
      let product of products$
        | async
        | filterProducts
          : filterProductsForm.controls.mainCategory.value
          : filterProductsForm.controls.subCategory.value
    "
  >
    {{ product.name }}
    <a
      [routerLink]="['/product/', product._id, product.price]"
      [queryParams]="{
        country: 'JAPAN',
        quanlity: 5,
        yom: 2019
      }"
      >View more</a
    >
    <button (click)="edit(product)">Edit</button>
    <button (click)="delete(product._id)">X</button>
  </li>
</ul>

{{ productCreationForm.value | json }}
