<table>
  <tbody [formGroup]="studentRegForm">
    <ng-container formGroupName="name">
      <tr>
        <td>
          First name
        </td>
        <td>
          <input type="text" formControlName="first" />
        </td>
      </tr>
      <tr>
        <td>
          Middle name
        </td>
        <td>
          <input type="text" formControlName="middle" />
        </td>
      </tr>
      <tr>
        <td>
          Last name
        </td>
        <td>
          <input type="text" formControlName="last" />
        </td>
      </tr>
    </ng-container>

    <tr>
      <td>
        Standard
      </td>
      <td>
        <input formControlName="std" type="text" />
      </td>
    </tr>
    <ng-container formGroupName="address">
      <tr>
        <td>
          Country
        </td>
        <td>
          <input formControlName="country" type="text" />
        </td>
      </tr>
      <tr>
        <td>
          State
        </td>
        <td>
          <input formControlName="state" type="text" />
        </td>
      </tr>
      <tr>
        <td>
          City
        </td>
        <td>
          <input formControlName="city" type="text" />
        </td>
      </tr>
    </ng-container>
    <tr>
      <td>
        Add Skill
      </td>
      <td>
        <button (click)="addSkillFormControl()">+</button>
      </td>
    </tr>
    <ng-container formArrayName="skills">
      <tr
        *ngFor="let x of studentRegForm.controls.skills.controls; let i = index"
      >
        <td>
          {{ i }}
        </td>
        <td>
          <input type="text" [formControlName]="i" />
        </td>
        <td
          *ngIf="studentRegForm.controls.skills.controls[i].errors?.minlength"
        >
          should not exceed the limit
        </td>
        <td>
          <button (click)="removeSkillFormControlByIndex(i)">X</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<hr />
{{ studentRegForm.value | json }}
