<h1>
  Create a product
</h1>
<h1>
  {{ createProduct.value | json }}
</h1>
<table>
  <tbody [formGroup]="createProduct">
    <tr>
      <td>
        Name
      </td>
      <td>
        <input formControlName="nameOfProduct" type="text" />
      </td>
      <td *ngIf="createProduct.controls.nameOfProduct.errors?.required">
        This field is required.
      </td>
      <td *ngIf="createProduct.controls.nameOfProduct.errors?.maxlength">
        This field should not have more than 5 characters
      </td>
    </tr>
    <tr>
      <td>
        Price
      </td>
      <td>
        <input type="text" />
      </td>
    </tr>
    <tr>
      <td>
        Email
      </td>
      <td>
        <input type="text" formControlName="email" />
      </td>
      <td *ngIf="createProduct.controls.email.errors?.email">
        Please provide a valid email`
      </td>
      <td
        *ngIf="
          createProduct.controls.email.errors?.required &&
          createProduct.controls.email.touched
        "
      >
        Email is required.
      </td>
    </tr>
    <tr>
      <td>
        CC
      </td>
      <td>
        <input type="text" formControlName="creditCard" />
      </td>
      <td *ngIf="createProduct.controls.creditCard.errors?.creditCard">
        This is not a valid cc
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button [disabled]="createProduct.invalid" (click)="submitHandler()">
          Submit
        </button>
      </td>
    </tr>
  </tbody>
</table>
